---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import { Image } from 'astro:assets';

const {href, src, alt, ariaDesc, underLabel, date, target} = Astro.props;
---


<a href={href} target={target} class="contentCard group">
    <div class="cardImage">
        <div>
            <Image src={src}
                   width='1000'
                   height='1000'
                   alt={alt}
                   aria-description={ariaDesc}
                   aria-label="design"
                   loading="eager"
                   class="group group-hover:scale-[1.02]"
            />
        </div>
        <div class="cardContext group">
            <p class="labelCard group">{underLabel}</p>
            <small class="">{date}</small>
        </div>
    </div>
</a>


<style>

    .contentCard {
        width: 100%;
        flex-direction: column;
        position: relative;
        gap: 0.25rem;
        overflow: clip;
        border: solid 1px var(--snoopingAroundAreWe);
        @apply rounded-md;
    }

    .cardContext {
        width: 100%;
        height: 32px;
        position: absolute;
        bottom: 8px;
        padding: 1rem;
        white-space: nowrap;
        z-index: 1;
        color: #f1f1f1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cardImage {
        overflow: clip;
    }

    .cardImage::after {
        content: "";
        background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: -12px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    img {
        image-rendering: optimizeQuality;
        @apply transition-all;
        display: block;
        filter: saturate(66%);
        transition-duration: 500ms;
        width: auto;
        object-fit: contain;
    }

    .contentCard:hover .labelCard::after {
        content: '-->';
        opacity: 1;
        transform: translateX(25%);
    }
    .labelCard {
        font-size: small !important;
        font-weight: 500;
    }
    small {
        font-weight: 500;
    }

    .labelCard::after {
        content: '-->';
        opacity: 0;
        position: absolute;
        transform: translateX(-100%);
        @apply transition-all
    }

    img:hover {
        filter: saturate(100%);
    }

    div:has(img) {
        overflow: hidden;
        @apply transition-shadow;
    }

    div:has(img):hover {
        box-shadow: 1px 16px 63px 1px rgba(100, 76, 196, 0.25);
    }

</style>