---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import { Image } from 'astro:assets';

const {href, src, alt, ariaDesc, underLabel, description} = Astro.props;
---

<a href={href} target="_blank" class="contentCard group">
    <Image src={src}
           width='1000'
           height='1000'
           alt={alt}
           aria-description={ariaDesc}
           aria-label="design"/>
    <p class="transition-opacity duration-200 descCard opacity-85 group group-hover:opacity-100">{description}</p>
    <h6 class="transition-opacity duration-200 labelCard opacity-85 group group-hover:opacity-100">{underLabel}</h6>
</a>


<style>

    .contentCard {
        width: 100%;
        //border: solid $text 1px;
        aspect-ratio: 16/9;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        position: relative;

        border: firebrick 1px dotted;
    }

    img {
        image-rendering: optimizeQuality;
        @apply rounded-md;
        @apply transition-all;
        display: block;
        margin-bottom: 0.5rem;
        border: solid 1px var(--secondary);
        filter: saturate(33%);
        transition-duration: 200ms;
        width: auto;
        object-fit: contain;
    }
    .descCard {
        font-size: 0.8rem !important;
        font-family: "Geist Mono Variable", monospace;
        font-weight: normal;
        border: solid 1px var(--accent);
        background-color: var(--accent);
        color: var(--bg);
        @apply px-2;
        @apply py-[0.2rem];
        @apply rounded-xl;

    }

    img:hover {
        filter: saturate(100%);
    }
</style>