---

import Shot_Temp from "../../images/208shots_so.png";
import { Image } from "astro:assets";

const {id, src, alt, ariaDesc, context} = Astro.props;
---

    <div id={id} class="galleryImage">
        <div class="galleryContainer">

            <Image src={src}
                   alt={alt}
                   aria-description={ariaDesc}
                   aria-label="design"
                   loading="lazy"
            />

        </div>
        <div class="galleryContext">
            <small class="">{context}</small>
        </div>
    </div>

<style>
    .galleryImage {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .galleryContext {

    }

    .galleryContainer {
        overflow: clip;
        border: solid 1px var(--snoopingAroundAreWe);
        @apply rounded-md;
    }


    img {
        image-rendering: optimizeQuality;
        @apply transition-all;
        display: block;
        transition-duration: 500ms;
        width: auto;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }

    small {
        font-weight: 500;
    }

    div:has(img) {
        overflow: hidden;
    }
</style>