---

import Shot_Temp from "../../images/208shots_so.png";
import { Image } from "astro:assets";

const {id, src, alt, ariaDesc, context} = Astro.props;
---

    <div id={id} class="galleryImage">
        <div class="galleryContainer">

            <Image src={src}
                   alt={alt}
                   aria-description={ariaDesc}
                   aria-label="design"
                   loading="lazy"
            />

            <div class="galleryContext">
                <small class="">{context}</small>
            </div>
        </div>
    </div>

<style>
    .galleryImage {
        flex-direction: column;
        position: relative;
        overflow: clip;
        border: solid 1px var(--snoopingAroundAreWe);
        @apply rounded-md;
    }

    .galleryContext {
        width: 100%;
        height: 32px;
        position: absolute;
        bottom: 8px;
        padding: 1rem;
        white-space: nowrap;
        z-index: 1;
        color: #f1f1f1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .galleryContainer {
        overflow: clip;
    }

    .galleryContainer::after {
        content: "";
        background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: -12px;
    }

    img {
        image-rendering: optimizeQuality;
        @apply transition-all;
        display: block;
        transition-duration: 500ms;
        width: auto;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }

    small {
        font-weight: 500;
    }

    div:has(img) {
        overflow: hidden;
    }
</style>